<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoImageCircle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF73C0891ED5DD5C005F9F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF73C0A21ED5DD5D005F9F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF73C0AD1ED5DD5D005F9F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
